<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="KKerb9_">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/fonts.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <title>Plagiarism Checker Online</title>
</head>
<body>
    <header>
        <p class="ubuntu-medium">Plagiarism Checker Online</p>
    </header>
    
    <main class="main">
        <div class="grid">
            <div class="col1">
                <div class="input">
                    <div class="input-title">
                        <div class="platypi">Enter your first text:</div>
                    </div>
                    <div class="separator"></div>
                    <textarea id="textarea-1" class="input-textarea" maxlength="1000000"></textarea>
                </div>
                <div class="input-file">
                    <input type="file" id="fileInput1" class="custom-file-input" />
                    <label for="fileInput1" class="custom-file-label">Select a file</label>
                    <span class="file-name" id="fileLabel1">No file selected</span>
                </div>
            </div>
            <div class="col2">
                <div class="row1">
                    <div>
                        <div class="describtion-text">This is a web application</div>
                        <div class="under-describtion-text">that calculates the editorial distance</div>
                        <div class="under-describtion-text">(<a href="https://ru.wikipedia.org/wiki/%D0%A0%D0%B0%D1%81%D1%81%D1%82%D0%BE%D1%8F%D0%BD%D0%B8%D0%B5_%D0%9B%D0%B5%D0%B2%D0%B5%D0%BD%D1%88%D1%82%D0%B5%D0%B9%D0%BD%D0%B0" class="link">Levenshtein distance</a>)</div>
                        <div class="under-describtion-text">between two texts.</div>
                        <div class="describtion-text-small">Check our <a href="https://github.com/KKerb9/Plagiarism-Checker" class="link">GitHub</a> whith open code</div>
                    </div>
                </div>
                <div class="row2">
                    <div class="settings">
                        <div class="settings-title">
                            <div class="platypi">Settings:</div>
                        </div>
                        <div class="separator"></div>
                        <div class="settings-block">
                            <ul class="settings-block-grid">
                                <li class="cost-option1">
                                    <label class="option-title">Swap cost</label><br>
                                    <input id="swapCost" type="number" value="1" class="settings-input">
                                </li>
                                <li class="cost-option2">
                                    <label class="option-title">Delete cost</label><br>
                                    <input id="delCost" type="number" value="1" class="settings-input">
                                </li>
                                <li class="cost-option3">
                                    <label class="option-title">Insert cost</label><br>
                                    <input id="addCost" type="number" value="1" class="settings-input">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row3">
                    <div class="row3-col1">
                        <button id="check" class="check-button">Check</button>
                    </div>
                    <div class="row3-col2">
                        <button id="result" class="result-button">Result</button>
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="input">
                    <div class="input-title">
                        <div class="platypi">Enter your second text:</div>
                    </div>
                    <div class="separator"></div>
                    <textarea id="textarea-2" class="input-textarea" maxlength="1000000"></textarea>
                </div>
                <div class="input-file">
                    <input type="file" id="fileInput2" class="custom-file-input" />
                    <label for="fileInput2" class="custom-file-label">Select a file</label>
                    <span class="file-name" id="fileLabel2">No file selected</span>
                </div>
            </div>
        </div>
    </main>

    <footer class="ubuntu-light">
        <p class="text-center footer">© 2024 GDT, Inc. KKerb9_</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/show_file_name.js') }}"></script>
</body>
</html>
